HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
ADMIN_EMAIL=test@example.com
ADMIN_PASSWORD=TestPassword
ADMIN_FIRST_NAME=Test
ADMIN_LAST_NAME=Test

FRONTEND_URL=http://localhost:8080